* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background-top {
    height: 10vh;
    background-color: #00a093
}

.background-bottom {
    height: 90vh;
    background-color: #dfe0d7
}

.boolzap-window {
    position: absolute;
    top: 2.5vh;
    left: 5vw;
    height: 95vh;
    width: 90vw;
    background-image: url("https://i.pinimg.com/originals/e8/d9/4e/e8d94e1e8b6b530ad315e9385290141b.jpg");
}

.boolzap-window-dark {
    background-color: #283339;
    background-image: none;
}

.window-left {
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    float: left;
}

.window-right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-between;
}

.left-nav {
    background-color: #ededed;
    height: 10%;
    width: 100%;
}

.left-nav-dark {
    background-color: #1f2c34;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav > img {
    margin-left: 10px;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.left-nav-icon > i {
    color: #bababa;
    font-size: 25px;
    margin-right: 25px;
    cursor: pointer;
}

#dark-mode {
    border: none;
}

.dark-mode-active {
    background-color: #1f2c34;
}

#dark-mode > i {
    color: #bababa;
    font-size: 25px;
    margin-right: 25px;
    cursor: pointer;
}

#dark-mode:hover > i {
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}

.left-nav-icon > i:hover {
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}

.left-nav > img:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.left-notification {
    background-color: #99dffc;
    height: 10%;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.notification-icon {
    margin-left: 18px;
    height: 60px;
    width: 60px;
    background-color: #f4fcff;
    border-radius: 50%;
    position: relative;
}

.notification-icon > i {
    color: #99dffc;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.notification-icon > i:hover {
    color: red;
    transition: 0.1s;
}

.notification-text {
    margin-left: 10px;
    cursor: pointer;
}

#p-notification {
    opacity: 0.5;
}

#p-notification:hover {
    color: black;
    transition: 0.1s;
    opacity: 1;
}

.left-search {
    background-color: #ededed;
    height: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.left-search-dark {
    background-color: #1f2c34;
}

.left-search > i {
    position: absolute;
    left: 7.5%;
    color: #bababa;
    cursor: pointer;
}

.left-search >i:hover {
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}

.left-search > input {
    width: 95%;
    height: 65%;
    margin-left: 2.5%;
    border-radius: 10px;
    border-style: none;
    padding-left: 15%;
}

.left-contacts {
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

.left-contacts-dark {
    background-color: #101d25;
    color: white;
}

.contact-box {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    border-top: 1px solid #eceeee;
    border-width:
}

.contact-box-dark {
    border-top: 1px solid black;
}

.contact-box:hover {
    background-color: rgb(0,160,147, 0.5);
    transition: 0.1s;
    cursor: pointer;
}

.contact-icon {
    display: flex;
    align-items: center;
    width: 20%;
}

.contact-icon > img {
    margin-left: 15px;
    height: 60px;
    width: 60px;
}

.contact-text {
    float: right;
    width: 80%;
}

.name-contact::after {
    content: "12.34";
    opacity: 0.5;
    font-size: 14px;
    float: right;
    margin-right: 5px;
}

.p-contact {
    opacity: 0.5;
}

.right-nav {
    display: flex;
    background-color: #ededed;
    height: 10%;
    width: 100%;
    border-left: 1px solid #bababa;
    align-items: center;
}

.right-nav-dark {
    border-left: 1px solid black;
    background-color: #1f2c34;
    color: white;
}

.right-nav > img {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.nav-text {
    margin-left: 15px;
    width: 70%;
    cursor: pointer;
}

#last-access {
    opacity: 0.5;
}

#last-access:hover {
    opacity: 1;
    transition: 0.1s;
}

.nav-icon {
    width: 30%;
}

.nav-icon > i {
    color: #bababa;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
}

.nav-icon > i:hover {
    cursor: pointer;
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}

.right-center {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.active {
    display: flex;
}

.active-contact {
    background-color: #00a093;
}

.message-sent.message::after {
    font-family: "fontawesome";
    font-weight: 400;
    content: "\f0d7";
    color: #dafac2;
    position: absolute;
    top: -12px;
    font-size: 30px;
    right: -8px;
}

.message-received.message::before {
    font-family: "fontawesome";
    font-weight: 400;
    content: "\f0d7";
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: -8px;
    font-size: 30px;
}

.message-sent {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #dafac2;
    min-width: 100px;
    max-width: 350px;
    flex-wrap: wrap;
    height: auto;
    margin: 15px 15px;
    justify-content: flex-end;
    align-self: flex-end;
}

.dropdown {
    position: absolute;
    background-color: #dfe0d7;
    top: 40%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    width: 120px;
    border-radius: 15px;
    display: none;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-active {
    display: block;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}

.dropdown-item:hover {
    cursor: pointer;
}

.delete {
    border: none;
    background-color: #dfe0d7;
    font-weight: bold;
    cursor: pointer;
}

.message-received {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    min-width: 100px;
    max-width: 350px;
    height: auto;
    flex-wrap: wrap;
    height: auto;
    margin: 15px 15px;
    background-color: #ffffff;
}

div[class*="message"] > i {
    font-family: "fontawesome";
    font-weight: 400;
    content: "\f0dd";
    color: #dfe0d7;
    position: absolute;
    float: right;
    right: 8px;
    font-size: 30px;
    bottom: 70%;
    display: none;
}

div[class*="message"]:hover > i {
    display: block;
}

.template {
    display: none;
}

div[class*="message"] > p {
    font-weight: bold;
    margin: 0 10px;
    width: 100%;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
}

div[class*="message"] > .orario {
    position: absolute;
    float: right;
    font-size: 14px;
    opacity: 0.5;
    right: 5px;
    bottom: 2.5px;
}

.right-bottom {
    display: flex;
    background-color: #ededed;
    height: 10%;
    width: 100%;
    align-items: center;
}

.right-bottom-dark {
    background-color: #1f2c34;
}

.bottom-emoticon {
    width: 5%;
    display: flex;
    justify-content: center;
    color: #767e81;
    font-size: 25px;
}

.bottom-emoticon:hover {
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}

.bottom-text {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bottom-text > input {
    height: 50%;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    padding-left: 15px;
}

.bottom-icon {
    width: 5%;
    display: flex;
    justify-content: center;
    color: #767e81;
    font-size: 25px;
}

.bottom-icon > i:hover {
    color: #00a093;
    transform: scale(1.05);
    transition: 0.1s;
}
